@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Moon+Dance&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Special+Elite&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-image: url("./images/pexels-fauxels-3183198.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body .border {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 1035px) {
  body .border {
    flex-direction: column;
  }
}
body .border .left {
  margin: 20px;
  width: 45%;
  height: 85%;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  background-color: rgba(25, 24, 33, 0.537254902);
  box-shadow: 2px 1px 1px 1px rgba(14, 13, 13, 0.607), 3px 1px 1px 1px rgba(14, 13, 13, 0.607), 4px 2px 1px 1px rgba(14, 13, 13, 0.607);
}
@media (max-width: 1035px) {
  body .border .left {
    width: 70%;
  }
}
@media (max-width: 1285.6px) {
  body .border .left {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  body .border .left {
    font-size: 9px;
  }
}
body .border .left .first {
  text-transform: uppercase;
  font-size: 5.8em;
  color: blueviolet;
  text-shadow: 2px 1px 1px black, 3px 1px 1px black, 4px 2px 1px black, 5px 1px 1px black, 6px 2px 1px black;
  font-weight: 700;
  text-align: center;
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.445);
  font-family: "Lobster Two", cursive;
  width: 85%;
}
body .border .left .third {
  width: 85%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 5em;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 2px 1px 1px black, 3px 1px 1px black;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  color: blue;
}
body .border .left .sec {
  width: 85%;
  height: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 3em;
}
body .border .left .sec .login {
  width: 30%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.306);
}
body .border .left .sec .login a {
  padding: 10px 12px;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-weight: 750;
  font-family: "Special Elite", cursive;
  text-shadow: 2px 1px 1px black, 3px 1px 1px black, 4px 1px 1px black, 5px 1px 1px black, 6px 1px 1px black;
}
body .border .left .sec .login:hover {
  background-color: rgba(255, 255, 255, 0.543);
}
body .border .left .sec .login:hover a {
  color: gold;
}
body .border .left .sec .sign {
  width: 30%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.306);
}
body .border .left .sec .sign a {
  padding: 10px 12px;
  text-decoration: none;
  color: white;
  font-family: "Special Elite", cursive;
  text-transform: capitalize;
  font-weight: 750;
  text-shadow: 2px 1px 1px black, 3px 1px 1px black, 4px 1px 1px black, 5px 1px 1px black, 6px 1px 1px black;
}
body .border .left .sec .sign:hover {
  background-color: rgba(255, 255, 255, 0.543);
}
body .border .left .sec .sign:hover a {
  color: gold;
}/*# sourceMappingURL=home.css.map */